[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
tensorboardx = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"

[requires]
python_version = "3.7.9"
